* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* NAVBAR */
.navbar {
  background: #0d6efd;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-nav {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* HERO */
.hero .graffiti {
  font-size: 48px;
  margin-bottom: 20px;
}
.graffiti {
  font-family: 'Permanent Marker', sans-serif;
  font-size: 38px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow:
    3px 3px 0 #000,
    6px 6px 0 rgba(0,0,0,0.3);
}

.hero {
  text-align: center;
  padding: 60px 20px;
  background: #f5f7fa;
}

/* ICON SOSIAL */
.hero-social {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 25px;
}

.icon {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

/* WARNA ICON */
.wa {
  background: #25d366;
}

.ig {
  background: #e1306c;
}

.shopee {
  background: #ee4d2d;
}

/* HOVER */
.icon:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

.hero-img {
  width: 100%;
  max-width: 400px;
  margin-bottom: 25px;
}


.hero h2 {
  font-size: 32px;
  margin-bottom: 15px;
}

.hero p {
  color: #555;
  margin-bottom: 25px;
}

.btn-wa {
  display: inline-block;
  background: #25d366;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  margin-top: 15px;
}

.btn-wa i {
  font-size: 26px;
  color: white;
}

.btn-wa:hover {
  background: #1ebe5b;
  transform: scale(1.05);
  transition: 0.3s;
}


/* PRODUK */
.produk {
  padding: 60px;
  text-align: center;
}

.produk-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-content: center;
  margin-top: 30px;
}
.produk h2 {
    margin-bottom: 10px;
}

.produk-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn-home {
  background: #0d6efd;
  color: white;
  padding: 8px 14px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
}

.btn-home:hover {
  background: #084298;
}


.card {
  width: 280px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.harga { 
  color: #0d6efd;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

/* POP UP MODAL*/
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background: white;
  padding: 25px;
  border-radius: 15px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  animation: zoom 0,3s ease;
}

.modal-content img {
  width: 100px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.close {
  font-size: 26px;
  cursor: pointer;
  float: right;
}

@keyframes zoom {
  from{ transform: scale(0.8); opacity: 0;}
  to{ transform: scale(1); opacity: 1;}
}

/* KEUNGGULAN */
.keunggulan {
  background: #f9fbff;
  padding: 60px;
  text-align: center;
}

.keunggulan h2 {
  font-size: 28px;
  margin-bottom: 40px;
}

.keunggulan-box {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.unggul {
  background: white;
  padding: 25px;
  width: 220px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.unggul h3 {
  margin-bottom: 10px;
  color: #0d6efd;
}

/* TESTIMONI */
.testimoni {
  background: #ffffff;
  padding: 60px 20px;
  text-align: center;
}

.testimoni h2 {
  font-size: 28px;
  margin-bottom: 40px;
}

.testimoni-box {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.testi-card {
  width: 260px;
  background: #f8f9fa;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

.bintang {
  font-size: 22px;
  margin-bottom: 10px;
}

.testi-card h4 {
  margin-top: 15px;
  color: #0d6efd;
}



/* FOOTER */
footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 15px;
}

/* WHATSAPP FLOATING */
.wa-float {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: #25d366;
  color: white;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  text-decoration: none;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  z-index: 999;
}

.wa-float:hover {
  background: #1ebe5b;
  transform: scale(1.1);
  transition: 0.3s;
}

/* Kembali Ke AtaS */
#backToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #084298;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;

  display: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s, transform 0.3s;
}

#backToTop:hover {
  transform: translateY(-5px);
  background-color: #1ebe5d;;
}



/* RESPONSIVE */
@media (max-width: 900px) {
  .produk-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .produk {
    padding: 30px 15px;
  }

  .produk-list {
    grid-template-columns: 1fr
  }
  .card {
    width: 100%;
    max-width: 320px;
  }

  .keunggulan-box,
  .testimoni-box {
    flex-direction: column;
    align-items: center;
  }

  .unggul,
  .testi-card {
    width: 100%;
    max-width: 300px;
  }

  .wa-float {
    width: 48px;
    height: 48px;
    font-size: 22px;
  }

  #backToTop {
    bottom: 90px;
    right: 20px;
  }
}